* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  /* Uma cor neutra pro fundo, depois ajustamos pro Figma */
  font-family: Roboto, Helvetica, Arial, sans-serif;
}